// 背景颜色定义规范
$bg = #222
$bg_title=#333333
$bg_list=rgba(0,0,0,0.3)
$bg_btn =hsla(0,0%,100%,.5)
$bg_active = rgba(255,255,255,0.8)
//字体颜色
$color-size=#ffcd32
$color_tab=rgba(255,255,255,0.5)
$color_name=#fff
$color_desc=rgba(255,255,255,0.3)
$color_key=hsla(0,0%,100%,0.5)
$color_desc = hsla(0,0%,100%,0.3)
$color-theme-d = rgba(255, 205, 49, 0.5)
$color_icon=rgba(255,205,49,.5);

//字体定义规范
$rem-size=37.5
$font-size-small-ss=9.5px
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x= 16px
$font-size-large = 18px
$font-size-large-xx=20px
$font-size-large-x = 22px
$font-size-l = 24px
$font-size-icon =30px

// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px